
html, body
{
    display:    block;
    min-height: 100%;
    margin:     0;
    padding:    0;
    font:       normal normal 13px/120% 'HelveticaNeue';
    color:      $font-white1;
}

html {}

body
{
    margin-left:     calc(100vw - 100%);
    min-height:      100vh;
    max-width:       100%;
    overflow-x:      hidden;
    overflow-y:      auto;
    display:         flex;
    flex-flow:       column;
    align-items:     center;
    justify-content: stretch;
    background:      silver;
}

a {
    color:           $font-white1;
    text-decoration: none;
    transition:      0.2s color ease-in-out;

    &:hover {
        color: $color-blue1-a;
    }
}

.page_back {
    @include size( 100vw, 100vh );

    position:   fixed;
    z-index:    1;
    background: url(/background.jpg) center top no-repeat;
    opacity:    0.5;
}

.page {
    @include pos-abs();
    @include size( $page-width );

    z-index:         10;
    min-height:      100%;
    max-width:       100%;
    display:         flex;
    flex-flow:       column;
    align-items:     stretch;
    justify-content: stretch;
    flex-grow:       1;
    flex-shrink:     0;
    padding:         2px 0;
    box-sizing:      border-box;
}

.content {
    flex-grow:       1;
    display:         flex;
    align-items:     stretch;
    justify-content: stretch;
    margin:          0 0 1px;
}

.content__main {
    flex-grow: 1;
}

.content__wrap {
    @include size( 100%, 100% );
    @include pos-rel();

    flex-grow:  1;
    box-sizing: border-box;
    padding:    40px 40px 20px;
}

.content__title {
    text-align:     center;
    text-transform: uppercase;
    font-size:      30px;
    line-height:    120%;
    margin:         -30px 0 10px;
}

h1, h3 {
    text-align:     center;
    text-transform: uppercase;
    font-size:      30px;
    line-height:    120%;
    margin:         -8px 0 0;
    padding:        0 0 5px;
    display:        block;
}

h3 {
    margin:         0 0 10px;
    font-size:      21px;
    text-align:     left;
    letter-spacing: 1px;
}
