
$page-width: 1280px;

$win-back1:              rgba( 34, 34, 34, 0.85 );
$win-border-outer-color: rgba( 8, 8, 8, 0.95 );
$win-border-inner-color: rgba( 78, 79, 79, 0.85 );

$font-transparent: rgba( 0, 0, 0, 0 );

$font-white1:      rgba( 220, 217, 220, 1 );
$font-white1-a:    rgba( 220, 217, 220, 0.75 );

$font-yellow1:     rgba( 230, 217, 190, 1 );
$font-yellow1-a:   rgba( 230, 217, 190, 0.75 );

$color-gray1:     rgba( 90, 89, 90, 1 );
$color-gray1-a:   rgba( 90, 89, 90, 0.75 );

$color-gray2:     rgba( 200, 200, 200, 1 );
$color-gray2-a:   rgba( 200, 200, 200, 0.75 );

$color-green1:    rgba( 169, 228, 156, 1 );
$color-green1-a:  rgba( 169, 228, 156, 0.75 );

$color-blue1:     rgba( 102, 151, 255, 1 );
$color-blue1-a:   rgba( 102, 151, 255, 0.75 );
