
.breadcrumbs {
    display:        flex;
    align-items:    stretch;
    justify-items:  stretch;
    letter-spacing: 1px;
}

.breadcrumbs__item {
    flex-grow:    0;
    margin-right: 10px;
    font-size:    16px;

    &:after {
        content:        '>>';
        display:        inline-block;
        margin:         0 0 0 5px;
        font-size:      14px;
        letter-spacing: -2px;
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}

.breadcrumbs__link {
    letter-spacing: 0.5px;

    &:focus {
        outline: none;
    }

    &:hover {
        color: $color-gray2-a;
    }
}