
.castles_status {
    @include pos-rel();

    max-width: 100%;
}

.castles_status__image {
    display:   block;
    max-width: 100%;
    height:    auto;
}

.castles_status__castle {
    @include pos-abs();

    z-index:  100;
    display:  inline-block;
    overflow: visible;
}

.castles_status__castle_marker {
    @include pos-abs( null, 0, 0 );

    z-index: 2;
}

.castles_status__castle_lines {
    @include pos-abs( null, 0, 0 );

    opacity:    0;
    z-index:    1;
    transition: 0.15s opacity ease-in-out;
}
