
.charsbuffs {
    padding:     0 10px 10px;
    font-size:   16px;
    line-height: 120%;
}

.charsbuffs__item {
    padding: 15px 0 0;
}

.charsbuffs__link {
    display:   inline-block;
    min-width: 200px;
    margin:    0 7px 5px 0;
}
