
.group {
    @include pos-rel();

    box-sizing: border-box;
    padding:    5px 0;
    margin:     0 0 10px;

    &:after {
        @include pos-abs( 0, null, 0, 0 );

        content:    '';
        display:    block;
        height:     1px;
        background: none $color-gray1;
    }
}
