
.item_info {
    padding: 0 10px;
}

.item_info__name {
    width:       100%;
    padding:     10px 5px 10px 5px;
    font-size:   21px;
    display:     inline-block;
    white-space: nowrap;
}

.item_info__ico {
    margin-right: 6px;
    display:      inline-block;
    border:       1px solid gray;
}

.item_info__table {
    border:          none;
    border-collapse: collapse;

    tr, td, th {
        text-align: center;
    }

    td, th {
        padding:        10px 20px;
        font-size:      18px;
        line-height:    120%;
        letter-spacing: 0.5px;
    }
}
