
.login_wrap {
    @include size( 100%, 100% );

    display:         flex;
    align-items:     center;
    justify-content: center;
}

.login {
    @include size( 256px, 107px );

    box-sizing: border-box;

    .form-item-text {
        margin: 0 0 5px;
    }

    .form-item-text-left {
        width:     128px;
        flex-grow: 0;
    }

    .form-item {
        label {
            width:       82px;
            flex-shrink: 0;
        }
    }
}

.login__inner {
    box-sizing: border-box;
    padding:    18px 0 0;
}

.login__buttons {
    display:         flex;
    align-items:     stretch;
    justify-content: stretch;
    padding-top:     8px;

    .form-item-submit {
        width: 94px;
    }
}

.login__buttons_cola {
    width:           100%;
    display:         flex;
    justify-content: left;
    box-sizing:      border-box;
    padding-left:    82px;
}

.login__buttons_colb {
    width:           50%;
    display:         flex;
    justify-content: left;
    box-sizing:      border-box;
    padding-left:    3px;
}
